
@media screen and ( max-width: 720px)
    .content-into p
        font-size: 25px !important
        margin: 0 !important
    .header
        .header__above
            width: 100%
            .container
                padding: 0 5%
        &__inner
            &__menu
                display: none
            &__burger
                display: inline-block
@media screen and ( max-width: 420px )
    .header
        width: 100vw
        margin: 0 auto
        &__inner
            &__menu
                display: none
            &__text
                display: none
            &__contacts
                display: none
    