
@media screen and ( max-width: 720px)
    .header__slide
        height: 100%
    .header__slide__content__top
        padding: 10px 10px
    .header__slide__content__bottom
        display: block
        text-align: center
        p 
            width: 100%
    .content-into p
        font-size: 25px !important
        margin: 0 !important
    .header
        &__slide
            &__content
                &__top
                    display: block
                    text-align: center
@media screen and ( max-width: 420px )
    .header__slide
        height: 100%
    .header__slide__content__top
        padding: 10px 10px
    .header__slide__content__bottom
        display: block
        text-align: center
        p 
            width: 100%
    .content-into p
        font-size: 25px !important
        margin: 0 !important
    .header
        &__slide
            &__content
                &__top
                    display: block
                    text-align: center

@media screen and ( max-width: 320px )
    .header__slide
        height: 100%
    .header__slide__content__top
        padding: 5px 5px
    .header__slide__content__bottom
        display: block
        text-align: center
        p 
            width: 100%
    .content-into p
        font-size: 20px !important
        margin: 0 !important
    .header
        &__slide
            &__content
                &__top
                    display: block
                    text-align: center