@import 'vars'
@import 'mixins'
body
    margin: 0 auto
    box-sizing: border-box

.container
    padding-left: 15px
    padding-right: 15px
p
    font-family: $font-family

.header,.footer
    .popup
        width: 100%
        position: fixed
        background-color: white
        z-index: 2002
        transition: 0.3s
        color: black
        height: 0
        overflow: hidden
        font-family: $font-family
        .close
            position: relative
            padding: 10px
            text-align: right
            display: block
            font-size: 25px
            .close span
                cursor: pointer
        .menu
            ul
                margin: 0
                padding: 0
                text-align: center
                li
                    list-style-type: none
                    padding: 5%
                    a
                        text-decoration: none
                        color: black
                        transition: 0.3s
                        position: relative
                    .active
                        color: $green-color
                    .active::before
                        width: 100%
                    a::before
                        content: ""
                        position: absolute
                        transition: 0.3s
                        z-index: 1001
                        bottom: -5px
                        background-color: $green-color
                        left: 0px
                        width: 0 
                        overflow: hidden
                        height: 1px
                    a:hover
                        color: $green-color
                    a:hover::before
                        width: 100% !important
        .detail
            position: absolute
            bottom: 0
            text-align: center
            width: 100%
            .contracts
                display: flex
                align-items: start
                text-align: center
                justify-content: center
            .text
                text-align: center
                p
                    color: #479b85
                    cursor: pointer
    &__above
        background-color: $main-color
        .container
            padding: 0
    &__slide
        height: 90vh
        @include background(40%,60%,'../img/background.jpg',true)
        margin: 0 auto
        .container
            padding: 0
        &__content
            &__top
                padding: 14% 0
                display: flex
                align-items: center
                div
                    margin-left: 3%
                    p
                        font-size: 32px
                        text-transform: uppercase
                        padding: 0
                        font-family: 'Roboto', sans-serif
                        font-weight: 700
                        margin: 0
                    .active
                        color: $green-color
                        font-style: normal
                        font-weight: 300
            &__bottom
                display: flex
                justify-content: space-between
                p
                    width: 35%
                    text-align: center
                    font-family: 'Roboto', sans-serif
                    font-weight: 400
    &__inner
        display: flex
        align-items: center
        color: $text-color
        justify-content: space-between
        padding: 10px
        &__text
            color: $green-color
            font-size: $header-font-size
            p
                text-decoration: underline
                cursor: pointer
        &__contacts
            display: flex
            align-items: center
            justify-content: space-between
            &__numbers
                font-size: $header-number-font-size
                margin-left: 10px
                p
                    padding: 0
                    margin: 0
        &__menu
            ul
                list-style-type: none
                li
                    font-family: $font-family
                    display: inline-block
                    padding: 0px 10px
                    font-size: $header-font-size
                    a
                        text-decoration: none
                        color: white
                        cursor: pointer
                        position: relative
                        @include transition(0.3s)
                    .active
                        color: $green-color
                    .active::before
                        width: 100%
                    a:hover::before
                        width: 100%
                    a::before
                        content: ''
                        width: 0%
                        height: 2px
                        left: 0
                        position: absolute
                        bottom: -5px
                        @include transition(0.3s)
                        background-color: $green-color
                        
                    a:hover
                        color: $green-color
        &__burger
            cursor: pointer
            display: none
            >div
                padding: 2px
                width: 40px
                @include transition(0.3s)
                background-color: white
                margin: 5px
        &__burger:hover >div
            background-color: $green-color
.body
    .block1
        @include background(100%,0%,'../img/background2.jpg',false)
        color: $text-color
        .container
            display: flex
            padding: 5% 0
            justify-content: space-between
            >div
                width: 35%
                >div
                    display: flex
                    align-items: start
                    p
                        font-size: 13px
                    div 
                        padding: 15px
        &__content
            width: 22% !important
            p
                margin: 10px 0px
                font-size: 13px
            .active
                font-size: 28px
                border-left: 2px solid #43ddbd
                font-weight: 700
                padding-left: 10px
    .block2
        position: relative
        background: none
        .container
            padding: 5% 0
        &__top
            z-index: 1
            .active_header
                font-size: 28px
                font-weight: 700
                text-align: center
            &__content
                display: flex
                text-align: center
                padding: 5% 0
                &__items
                    padding-right: 20px
                    padding-left: 20px
                    border-right: 1px solid #e8e8e8
                    .content
                        &__title
                            padding: 10% 0
                            font-weight: 500
                        &__text
                            font-size: 13px
                            line-height: 18px
                            font-weight: 400
                .last
                    border: none !important
        &__bottom
            z-index: 1
            background-color: transparent
            .disactive_header
                font-size: 23px
                font-weight: 700
                text-align: center
            &__iconSliders
                padding: 5% 0 0 0
                display: flex
                align-items: center
                position: relative
                .images
                    padding: 0px 20px
                    overflow: hidden
                    img
                        padding: 0px 20px
                .arrow_left
                    @include absoluting(0,auto)
                .arrow_right
                    @include absoluting(auto,0)
        .background
            position: absolute
            left: 0
            bottom: 0%
            height: 30%
            @include background(10%,30%,'../img/background3.jpg',false)
            background-size: 200% 200%
            width: 100%
            z-index: -12
        p
            padding: 0
            margin: 0
            color: black
            font-family: $font-family
    .block3
        background-color: black
        padding: 0
        .container
            padding: 0
        .back
            @include background(70%,0%,'../img/background4.png',false)
            padding: 5% 0
        &__content
            padding: 0
            &__header
                display: flex
                .img
                    img
                        width: 90%
                        height: 70%
                .text
                    font-family: Roboto
                    font-size: 19px
                    font-weight: 700
                    text-transform: uppercase
                    .active
                        color: $green-color
                    span
                        color: white
            form
                input
                    display: block
                    width: 100%
                    border: none
                    margin: 5px 0px
                    padding: 15px 30px
                    outline: none
                input::-webkit-input-placeholder
                    font-family: $font-family
                input::-ms-input-placeholder
                    font-family: $font-family
                input::placeholder
                    font-family: $font-family
                textarea
                    width: 100%
                    height: 20vh
                    padding: 15px 30px
                    outline: none
                    border: none
                    resize: none
                textarea::placeholder
                    font-family: $font-family
                textarea::-ms-textarea-placeholder
                    font-family: $font-family
                textarea::-webkit-textarea-placeholder
                    font-family: $font-family
                input[type=submit]
                    display: inline-block
                    width: auto
                    padding: 10px 30px
                    color: white
                    margin: 10px 0px
                    background: none
                    border: 1px solid $green-color
                    font-family: $font-family
                    font-size: 13px
                    font-weight: 700
                    @include transition(0.3s)
                    
                input[type=submit]:hover
                    background-color: $green-color
                    color: white
                
        p
            margin: 0
            padding: 0            
    .block4
        &__header
            font-size: 28px
            font-weight: 700
            padding-left: 4% !important
            border-left: 5px solid $green-color
        @for $i from 0 to 4
            .digit#{$i}
                background-image: url(../img/#{$i}digit.png)
                background-position: left
                background-repeat: no-repeat
        .container
            padding: 5% 0
        &__content
            display: flex   
            padding: 4% 0
            justify-content: space-between
            border-bottom: 1px solid #e8e8e8
            &__project
                width: 30%
                &__header
                    .active
                        font-weight: 700
                        font-size: 19px
                    .pad
                        display: block
                        padding: 10% 0
                        font-weight: 500
                        font-size: 13px
                &__text
                    font-size: 13px
            &__achievements
                width: 30%
                &__into
                    padding: 1.5% 0
                    display: flex
                    align-items: center
                    .img
                        padding: 0% 2%
                    .text
                        font-size: 13px
                        font-family: $font-family
                   
        p
            margin: 0
            padding: 0     
    .block5
        @include background(50%,0,'../img/background5.jpg',false) 
        font-family: $font-family
        font-size: 13px
        .container
            padding: 5% 0
        &__header
            font-size: 28px
            font-weight: 700
            text-align: center
        &__padder
            display: flex
            flex-wrap: wrap
            padding: 5% 0
        &__padder>div
            padding-left: 3%
        @for $i from 1 through 10
            @if $i % 3 == 0
                .block5__blocks:nth-child(#{$i})
                    padding-right: 0 !important
                    border-right: none !important
            @if $i % 3 == 1
                .block5__blocks:nth-child(#{$i})
                    padding-left: 0 !important
                
        &__blocks
            width: 33.33333%
            border-right: 1px solid #d9d9d9
            border-bottom: 1px solid #d9d9d9
            padding-bottom: 3%
            padding-right: 3%
            &__content
                .text
                    padding: 5% 0
                    &__title
                        color: $green-color
                        padding: 3% 0%
                        font-weight: 600
                        text-transform: uppercase
                .achievements
                    display: flex
                    align-items: center
                    margin-top: 2%
                    .img
                        padding-right: 5%                        
        p
            padding: 0
            font-family: $font-family
            color: white
            margin: 0
    .block6
        .container
            padding: 5% 0
        &__content
            padding: 5% 0
            display: flex
            align-items: center
            text-align: center
            >div
                width: 33.333%
            @for $i from 1 through 4
                .search#{$i}
                    background-image: url(../img/#{$i}back.png)
                    background-position: center
                    background-repeat: no-repeat
        p
            margin: 0
            padding: 0
    .block7
        @include background(50%,0%,'../img/background7.png',false)
        background-size: 200% 120%
        .container
            padding: 5% 0
        &__content
            p
                font-size: 28px
                font-weight: 700
            .active
                font-size: 28px
                color: $green-color
                font-weight: 700

        form
                input
                    display: block
                    border: none
                    width: 100%
                    margin: 5px 0px
                    padding: 15px 30px
                    outline: none
                input::-webkit-input-placeholder
                    font-family: $font-family
                input::-ms-input-placeholder
                    font-family: $font-family
                input::placeholder
                    font-family: $font-family
                textarea
                    width: 100%
                    height: 20vh
                    padding: 15px 30px
                    outline: none
                    border: none
                    resize: none
                textarea::placeholder
                    font-family: $font-family
                textarea::-ms-textarea-placeholder
                    font-family: $font-family
                textarea::-webkit-textarea-placeholder
                    font-family: $font-family
                input[type=submit]
                    display: inline-block
                    width: auto
                    padding: 10px 30px
                    color: black
                    margin: 10px 0px
                    background: none
                    border: 1px solid $green-color
                    font-family: $font-family
                    font-size: 13px
                    font-weight: 700
                    transition: 0.4s
                    -webkit-transition: 0.4s
                    -moz-transition: 0.4s
                    
                input[type=submit]:hover
                    background-color: $green-color
                    color: white


@import 'media'
@import 'header-media'
@import 'header-slider-media'